:root {
  /* Variables */

  /* Breakpoints */
  --extra-small-screen: 576px;
  --small-screen: 768px;
  --medium-screen: 992px;
  --large-screen: 1200px;
  --extra-large-screen: 1400px;

  /* Colors */
  --bg-color: #000000;
  --text-color: #ffffff;

  /* Text sizes */
  --extra-large-text: 7.451rem;
  --large-text: 5.96rem;
  --heading-text: 3.815rem;
  --small-heading-text: 2.441rem;
  --paragraph-text: 1rem;
  --small-text: 0.8rem;
  --tiny-text: 0.64rem;

  /* Borders */
  --border-style: 2px solid var(--text-color);

  /* Base font size */
  font-size: 28px;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  overflow-x: hidden;
}

p span {
  position: relative;
}

.scrambled {
  color: var(--paragraph-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: var(--extra-large-text);
  font-weight: 800;
  line-height: 0.9;
}

.fullscreen {
  height: 100vh;
  width: 100vw;
}
.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fundraising {
  border: var(--border-style);
  padding: 1rem;
  width: 70%;
}

.wallet {
  font-family: monospace;
  font-weight: 800;
  word-break: break-all;
}

.draggable {
  background-color: blue;
  cursor: move;
  height: 28px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

@media all and (max-width: 1200px) {
  .scrambled {
    word-break: break-all;
  }
}
